@model ProductCrudModel

@{
    ViewData["Title"] = "EditProduct";
    Layout = "_HomeAdminLayout";
    ViewBag.active = "4";
}


<div class="admin__form">
    <form asp-action="Edit" asp-controller="Product" method="post" class="admin__form-form">
        <input type="hidden" asp-for="ProductId" />
        <h2>Sửa sản phẩm</h2>
        <div class="admin__form-item">
            <div class="admin__form-lable">Tên:</div>
            <input asp-for="Name" class="admin__form-input" />
        </div>
        <div class="admin__form-item">
            <div class="admin__form-lable">Mã sản phẩm:</div>
            <input asp-for="Code" class="admin__form-input" />
        </div>
        <div class="admin__form-item">
            <div class="admin__form-lable">Trạng thái sản phẩm:</div>
            <select class="category-search__select" asp-for="Status" asp-items="Html.GetEnumSelectList<SysEnum.ProductStatus>()">
                <option selected="selected" value="">Chọn trạng thái sản phẩm</option>
            </select>
        </div>
        <div class="admin__form-item">
            <div class="admin__form-lable">Mô tả:</div>
            <input asp-for="Description" class="admin__form-input" />
        </div>
        <div class="admin__form-item">
            <div class="admin__form-lable">Số lượng:</div>
            <input asp-for="Quantity" class="admin__form-input" />
        </div>
        <div class="admin__form-item">
            <div class="admin__form-lable">Giá gốc:</div>
            <input asp-for="BasePrice" class="admin__form-input" />
        </div>
        <div class="admin__form-item">
            <div class="admin__form-lable">Giá đã giảm:</div>
            <input asp-for="SellPrice" class="admin__form-input" />
        </div>

        <div class="admin__form-item">
            <div class="admin__form-lable">Danh mục sản phẩm:</div>
            <select asp-for="SelectedCategories" asp-items="@(new SelectList(Model.ListCategoryViewModel, "CategoryId", "Name"))"
                    multiple="multiple" class="category-search__select js-example-basic-multiple">
            </select>
        </div>

        <div class="admin__form-btn">
            <a asp-action="Index" asp-controller="Product" class="btn btn-comback">
                Trở về
            </a>
            <button type="submit" class="btn btn-checkout">
                Save
            </button>
        </div>
    </form>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

}
