@model WebShopCore.ViewModel.Image.ProductImageCrudModel
@{
    ViewData["Title"] = "Thêm hình ảnh sản phẩm";
    Layout = "_Layout";
}
<h1>Add Product</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProductImages" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="ProductId"/>
            <div class="form-group">
                <label asp-for="FileImages" class="control-label"></label>
                <input type="file" asp-for="FileImages" multiple />
                <span asp-validation-for="FileImages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
