@model WebShopCore.ViewModel.Image.ProductImageCrudModel
@{
    ViewData["Title"] = "Thêm hình ảnh sản phẩm";
    Layout = "_HomeAdminLayout";
}

<div class="admin__form">
    <form asp-action="CreateProductImages" method="post" enctype="multipart/form-data" class="admin__form-form">
        <h2>Thêm hình ảnh</h2>
        <input type="hidden" asp-for="ProductId" />
        <div class="admin__form-item">
            <div class="admin__form-lable">Chọn 1 hoặc nhiều hình ảnh:</div>
            <input asp-for="FileImages" type="file" multiple class="admin__form-input" />
        </div>


        <div class="admin__form-btn">
            <a asp-action="Index" asp-controller="Product" class="btn btn-comback">
                Trở về
            </a>
            <button type="submit" class="btn btn-checkout">
                Save
            </button>
        </div>
    </form>

</div>


