@model WebShopCore.ViewModel.Image.ImageCrudModel
@{
    ViewData["Title"] = "Sửa hình ảnh";
    Layout = "_HomeAdminLayout";
}

<div class="admin__form">
    <form asp-action="EditProductImages" method="post" enctype="multipart/form-data" class="admin__form-form">
        <h2>Thay đổi hình ảnh</h2>
        <input type="hidden" asp-for="ProductId" />
        <input type="hidden" asp-for="ImageId" />
        <input type="hidden" asp-for="Url" />
        <div class="admin__form-item">
            <div class="admin__form-lable">Hình ảnh gốc:</div>
            <img src="@Model.Url" class="home-cart-item home-cart-item-img" />
        </div>
        <div class="admin__form-item">
        </div>
        <div class="admin__form-item">
        </div>
        <div class="admin__form-item">
            <div class="admin__form-lable">Chọn hình ảnh khác:</div>
            <input asp-for="FileImage" type="file" class="admin__form-input" />
        </div>


        <div class="admin__form-btn">
            <a asp-action="Index" asp-controller="Product" class="btn btn-comback">
                Trở về
            </a>
            <button type="submit" class="btn btn-checkout">
                Save
            </button>
        </div>
    </form>

</div>
