@model WebShopCore.ViewModel.Auth.ChangePasswordViewModel
@{
    ViewData["Tile"] = "Đổi mật khẩu";
    Layout = "_AuthLayout";
}
<body>
    <div class="wrapper">
        <div class="title">
            Quên mật khẩu
        </div>
        <form asp-action="ForgotPassword" asp-controller="Auth" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="field">
                <input asp-for="UserName" required />
                <label>Tài khoản</label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="field">
                <input asp-for="Email" required />
                <label>Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="field">
                <input type="submit" value="Save">
            </div>
        </form>
    </div>
</body>
