@model WebShopCore.ViewModel.Auth.ChangePasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "_AuthLayout";
}

<body>
    <div class="wrapper">
        <div class="title">
            Reset password
        </div>
        <form asp-controller="Auth" asp-action="ResetPassword" method="post">
            <div class="field">
                <input asp-for="UserName" readonly>
                <label>Username</label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="field">
                <input type="password" asp-for="Password" required>
                <label>Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="field">
                <input type="password" asp-for="ConfirmPassword" required>
                <label>ConfirmPassword</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="field">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
