@model WebShopCore.ViewModel.UserRole.RoleCrudModel
@{
    ViewData["Title"] = "Create";
    Layout = "_HomeAdminLayout";
    ViewBag.active = "3";
}


<div class="admin__form">
    <form asp-action="Create" asp-controller="UserRole" method="post" class="admin__form-form">
        <h2>Thêm vai trò</h2>
        <div class="admin__form-item">
            <div class="admin__form-lable">Tên vai trò</div>
            <input asp-for="Name" class="admin__form-input" />
        </div>


        <div class="admin__form-btn">
            <a asp-action="Index" asp-controller="UserRole" class="btn btn-comback">
                Trở về
            </a>
            <button type="submit" class="btn btn-checkout">
                Save
            </button>
        </div>
    </form>

</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
