@{
    ViewData["Title"] = "Home Page";
}

@*<a asp-action="Index" asp-controller="Product">Product</a>
<br />
<a asp-action="Index" asp-controller="Category">Category</a>
<br />
<a asp-action="Index" asp-controller="Coupon">Coupon</a>
<br />
<a asp-action="Index" asp-controller="Order">Order</a>
<br />
<a asp-action="Index" asp-controller="User">User</a>
<br />
<a asp-action="Index" asp-controller="UserRole">UserRole</a>
<br />
<a asp-action="Logout" asp-controller="Auth">Logout</a>
*@