@model CategoryCrudModel
@{
    ViewData["Title"] = "Edit";
    Layout = "_HomeAdminLayout";
    ViewBag.active = "5";
}


<div class="admin__form">
    <form asp-action="Edit" asp-controller="Category" method="post" class="admin__form-form">
        <h2>Sửa thể loại</h2>
        <input type="hidden" asp-for="CategoryId" />
        <div class="admin__form-item">
            <div class="admin__form-lable">Tên</div>
            <input asp-for="Name" class="admin__form-input" />
        </div>


        <div class="admin__form-btn">
            <a asp-action="Index" asp-controller="Category" class="btn btn-comback">
                Trở về
            </a>
            <button type="submit" class="btn btn-checkout">
                Save
            </button>
        </div>
    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
