@model IEnumerable<CategoryViewModel>

@{
    ViewData["Title"] = "Category Index";
    ViewBag.active = "4";
}

<div style="margin-left:30px">
    <a asp-action="Create" asp-controller="Category" style="margin-top:5px; display:block">
        <button class="btn btn-danger">Thêm loại</button>
    </a>
    <br />
    <table class="table">
        <thead>
            <tr>Tên loại</tr>
        </thead>
        <tbody>
            @if (Model != null){
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@category.CategoryId">Delete</a> |
                            <a asp-action="Edit" asp-route-id="@category.CategoryId">Edit</a> |
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>