@using WebShopCore.Helper
@{
    var user = Context.Session.GetCurrentAuthentication();
}

@if(user != null)
{
    <div class="header__admin-account">
        <div class="header__admin-account-item">
            <img src="@user.AvatarUrl" alt="" class="header__navbar-user-img">
            <span class="header__navbar-user-name">
                @user.Name
            </span>

            <ul class="header__navbar-user-menu">
                <li class="header__navbar-user-item">
                    <a asp-action="UserProfile" asp-controller="Setting" class="header__navbar-user-link">
                        <i class="header__navbar-user-icon fas fa-cog"></i>
                        Cài đặt
                    </a>
                </li>
                <li class="header__navbar-user-item">
                    <a asp-action="Logout" asp-controller="Auth" class="header__navbar-user-link">
                        <i class="header__navbar-user-icon fa-solid fa-right-from-bracket"></i>
                        Đăng xuất
                    </a>
                </li>
            </ul>

        </div>
    </div>

}
else
{
    
}
