@model WebShopCore.ViewModel.Auth.ChangePasswordViewModel
@{
    ViewData["Tile"] = "Đổi mật khẩu";
    Layout = "_HomeAdminLayout";
    ViewBag.active = "2";
}

<div class="admin__form">
    <form asp-action="ChangePassword" asp-controller="Auth" method="post" class="admin__form-form">
        <h2>Đổi mật khẩu người dùng</h2>
        <input type="hidden" asp-for="UserId" />
        <div class="admin__form-item">
            <div class="admin__form-lable">Email:</div>
            <input value="@Model.Email" readonly class="admin__form-input" />
        </div>
        <div class="admin__form-item">
            <div class="admin__form-lable">Mật khẩu:</div>
            <input asp-for="Password" class="admin__form-input" />
        </div>
        <div class="admin__form-item">
            <div class="admin__form-lable">Nhập lại mật khẩu:</div>
            <input asp-for="ConfirmPassword" class="admin__form-input" />
        </div>
        <div class="admin__form-btn">
            <a asp-action="Index" asp-controller="Auth" class="btn btn-comback">
                Trở về
            </a>
            <button type="submit" class="btn btn-checkout">
                Save
            </button>
        </div>
    </form>

</div>
