@model WebShopCore.ViewModel.Coupon.CouponCrudModel
@{
    ViewData["Title"] = "Chỉnh sửa coupon";
    Layout = "_HomeAdminLayout";
}


<div class="admin__form">
    <form asp-action="Edit" asp-controller="Coupon" method="post" class="admin__form-form">
        <h2>Sửa Coupon</h2>
        <input type="hidden" asp-for="Id" />

        <div class="admin__form-item">
            <div class="admin__form-lable">Tên Coupon:</div>
            <input asp-for="Name" class="admin__form-input" />
        </div>
        <div class="admin__form-item">
            <div class="admin__form-lable">Mã Coupon:</div>
            <input asp-for="Code" class="admin__form-input" />
        </div>
        <div class="admin__form-item">
            <div class="admin__form-lable">Thời gian bắt đầu:</div>
            <input asp-for="TimeStart" class="admin__form-input" />
        </div>
        <div class="admin__form-item">
            <div class="admin__form-lable">Thời gian kết thức:</div>
            <input asp-for="TimeEnd" class="admin__form-input" />
        </div>
        <div class="admin__form-item">
            <div class="admin__form-lable">Giá trị:</div>
            <input asp-for="CouponPriceValue" class="admin__form-input" />
        </div>
        <div class="admin__form-item">
            <div class="admin__form-lable">Hình thức giảm giá</div>
            <select asp-for="CouponPriceType" asp-items="Html.GetEnumSelectList<SysEnum.CouponType>()" class="category-search__select">
                <option selected="selected" value="">Chọn hình thức giảm giá</option>
            </select>
        </div>
        <div class="admin__form-item">
            <div class="admin__form-lable">Lượt sử dụng:</div>
            <input asp-for="LimitationTimes" class="admin__form-input" />
        </div>
        <div class="admin__form-btn">
            <a asp-action="Index" asp-controller="Coupon" class="btn btn-comback">
                Trở về
            </a>
            <button type="submit" class="btn btn-checkout">
                Save
            </button>
        </div>
    </form>

</div>
