@using static WebShopCore.Const.SysEnum;
@model WebShopCore.ViewModel.Order.OrderCrudModel
@{
    ViewData["Title"] = "Sửa đơn hàng";
    Layout = "_HomeAdminLayout";
    ViewBag.active = "7";
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<div class="admin__form">
    <form asp-action="Update" asp-controller="Order" method="post" class="admin__form-form">
        <h2>Sửa đơn hàng</h2>
        <input type="hidden" asp-for="OrderId" />

        <div class="admin__form-item">
            <div class="admin__form-lable">Người mua:</div>
            <select asp-for="CreateByUserId" asp-items="@(new SelectList(Model.ListUserViewModel, "UserId", "Name"))" class="category-search__select">
                <option selected> Chọn người mua</option>
            </select>
        </div>

        <div class="admin__form-item">
            <div class="admin__form-lable">Trạng thái đơn hàng:</div>
            <select asp-for="OrderStatus" asp-items="Html.GetEnumSelectList<OrderStatus>()" class="category-search__select">
                <option selected> Chọn trạng thái đơn hàng</option>
            </select>
        </div>

        <div class="admin__form-item">
            <div class="admin__form-lable">Trạng thái thanh toán:</div>
            <select asp-for="PaymentStatus" asp-items="Html.GetEnumSelectList<PaymentStatus>()" class="category-search__select">
                <option selected>Chọn trạng thái thanh toán</option>
            </select>
        </div>

        <div class="admin__form-item">
            <div class="admin__form-lable">Trạng thái vận chuyển:</div>
            <select asp-for="ShippingStatus" asp-items="Html.GetEnumSelectList<ShippingStatus>()" class="category-search__select">
                <option selected> Chọn trạng thái vận chuyển</option>
            </select>
        </div>
        <div class="admin__form-item">
            <div class="admin__form-lable">Địa chỉ:</div>
            <input asp-for="Address" class="admin__form-input" required />
        </div>


        <div class="grid category-form__inside">
            <div class="grid__row category-form__heading">
                <div class="grid__column-2">
                </div>
                <div class="grid__column-2">
                    <span>Tên</span>
                </div>
                <div class="grid__column-2">
                    <span>Mã sản phẩm</span>
                </div>
                <div class="grid__column-2">
                    <span>Giá</span>
                </div>
            </div>
            @foreach (var orderItem in Model.OrderItems)
            {
                <div class="grid__row category-form__item">
                    <div class="grid__column-2">
                    </div>
                    <div class="grid__column-2">
                        <span class="category-form-name">@orderItem.Product.Name</span>
                    </div>
                    <div class="grid__column-2">
                        <span class="category-form-name">@orderItem.Product.Code</span>
                    </div>
                    <div class="grid__column-2">
                        <span class="category-form-name">@(String.Format(info, "{0:c}", orderItem.PriceTotal))</span>
                    </div>
                </div>
            }
        </div>

        <div class="admin__form-btn">
            <a asp-action="Index" asp-controller="Order" class="btn btn-comback">
                Trở về
            </a>
            <button type="submit" class="btn btn-checkout">
                Save
            </button>
        </div>
    </form>

</div>
