@model WebShopCore.ViewModel.Auth.ChangePasswordViewModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "_UserProfileLayout";
    ViewBag.activeAuth = "3";
}

<div class="tab-content">
    <form asp-action="ChangePassword" asp-controller="Setting" method="post" class="tab-pane active">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UserId" />
        <h2>
            <i class="fa-solid fa-forward"></i>
            Đổi mật khẩu
        </h2>
        <div class="tab-pane-item">
            <div class="tab-pane-item-lable">Tài khoản:</div>
            <input asp-for="UserName" readonly class="tab-pane-item-input" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="tab-pane-item">
            <div class="tab-pane-item-lable">Mật khẩu:</div>
            <input asp-for="Password" type="password" class="tab-pane-item-input" />
        </div>
        <div class="tab-pane-item">
            <div class="tab-pane-item-lable">Nhập lại mật khẩu:</div>
            <input asp-for="ConfirmPassword" type="password" class="tab-pane-item-input" />
        </div>

        <div class="btn__account">
            <a asp-action="Index" asp-controller="Home" class="btn btn-comback">Trở về</a>
            <button type="submit" value="Cập nhật" class="btn btn-apply">Cập nhật</button>
        </div>
    </form>

</div>
