@model WebShopCore.ViewModel.User.UserCrudModel
@{
    ViewData["Title"] = "Đổi avatar";
    Layout = "_UserProfileLayout";
    ViewBag.activeAuth = "2";
}

<div class="tab-content">
    <form asp-action="UpdateAvatar" method="post" enctype="multipart/form-data" class="tab-pane active">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UserId" />
        <h2>
            <i class="fa-solid fa-forward"></i>
            Đổi ảnh đại diện
        </h2>
        <div class="tab-pane-item">
            <div class="tab-pane-item-lable">Hình ảnh:</div>
            <input type="file" asp-for="FileImage" multiple class="tab-pane-item-input" />
            <span asp-validation-for="FileImage" class="text-danger"></span>
        </div>

        <div class="btn__account">
            <a asp-action="Index" asp-controller="Home" class="btn btn-comback">Trở về</a>
            <button type="submit" value="Cập nhật" class="btn btn-apply">Cập nhật</button>
        </div>

    </form>
</div>


