.tabs__account {
    display: flex;
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tabs {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 20px;
    position: relative;
}

    .tabs .line {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 6px;
        border-radius: 15px;
        background-color: #c23564;
        transition: all 0.2s ease;
    }

.tab-item {
    width: 345px;
    padding: 16px 20px 11px 20px;
    font-size: 1.rem;
    color: #333;
    background-color: #e9e9e9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid #666;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
}

.tab-icon {
    font-size: 24px;
    width: 32px;
    position: relative;
    top: 2px;
}

.tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
}

.tab-item.active {
    background-color: white;
    border-left: 4px solid #c23564;
    border-right: none;
    opacity: 1;
}

.tab-content {
    margin: 0 0 8px 40px;
    padding: 28px;
}

.tab-pane {
    color: #333;
    display: none;
}

    .tab-pane.active {
        display: block;
    }

    .tab-pane h2 {
        font-size: 1.4rem;
        color: #333;
        margin-bottom: 40px;
    }

        .tab-pane h2 i {
            color: #d3d3d3;
        }

.tab-pane-item {
    padding: 15px 30px;
    display: flex;
    width: 700px;
    border-bottom: 1px solid #eee;
    margin-bottom: 1px;
}

.tab-pane-item-lable {
    width: 200px;
}

.tab-pane-item-input {
    border: none;
    font-weight: 600;
}

    .tab-pane-item-input:focus {
        outline: none;
        line-height: 20px;
        border: 1px solid #d9d9d9;
    }

.btn__account {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 40px;
}
