.app_container__checkout{
    display: flex;
    box-sizing: border-box;
    background-color: white;
    padding: 0;
    margin: 5% auto 0;
    max-width: 720px;
    border: 1px solid #eee;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.checkout__product{
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    width: 400px;
    border-right: 1px solid #eee;
}

.app_container__checkout-heading{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: crimson;
    padding-bottom: 20px;
}

.checkout__product-item{
    display: flex;
    align-items: baseline;
    padding: 2px;                     
}

.checkout__product-item-lable{
    min-width: 100px;
    color: #666;
    font-size: 0.9rem;
}

.checkout__inform{
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    width: 320px;
}

.checkout__inform-heading{
    display: flex;
    justify-content: space-around;
}

.checkout__inform-item{
    display: flex;
}

.checkout__inform-heading-lable{
    color: #666;
    padding: 0 5px 10px 0;
}

.checkout__inform-item-lable{
    margin-left: 10px;
    width: 120px;
    overflow: hidden;                                   /*nếu dài quá ẩn bớt chữ*/
    text-overflow: ellipsis;
    white-space: nowrap;
}

.checkout__inform-item-name{
    margin-left: 30px;
}

.btn__checkout{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.checkout__total{
    display: flex;
    margin-top: 10px;
    padding: 10px 10px 0px 10px;
    border-top: 1px solid #999;
}

.checkout__total-price{
    color: crimson;
    font-weight: 600;
    margin-left: 70px;
}