@model WebShopCore.ViewModel.User.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_AuthLayout";
}
<body>
    <div class="wrapper">
        <div class="title">
            Login Form
        </div>
        <form asp-action="Login" asp-controller="Auth" method="post">
            <div class="field">
                <input asp-for="UserName" required />
                <label>Tài khoản</label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="field">
                <input asp-for="Password" type="password" required />
                <label>Mật khẩu</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="field">
                <input type="submit" value="Đăng nhập">
            </div>

        </form>

    </div>
</body>